table,thead,tbody,tr,td,th{
    border: black 2px solid;
    border-collapse: collapse;
     
}

tr:hover{
    font-weight: bolder;
    color: aquamarine;
    background-color: grey;
}
td:last-child, td:nth-last-child(3){
    background-color: blanchedalmond;
}
tr:has(td[rowspan]):hover td{
    font-weight: bolder;
    color: aquamarine;
    background-color: grey;
}
tr:not(:has(td[rowspan])):hover td{
    font-weight: bolder;
    color: aquamarine;
    background-color: grey;
}
tr:has(td[rowspan]):has(+tr:hover) td{
    font-weight: bolder;
    color: aquamarine;
    background-color: grey;
}
